<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <link rel="icon" type="image/x-icon" href="C:\Users\ASUS\OneDrive - Higher Education Commission\Desktop\Desktop\FrontEnd\Images\favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dbc433ec8d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="ContactUs.css">
  </head>
  <body>
    <header>
      <link href="C:\Users\ASUS\OneDrive - Higher Education Commission\Desktop\Desktop\FrontEnd\index1.html"><h1>DM <span>Weather</span></h1></link>
        <nav>
          <ul>
            <li>
              <a href="index1.html">Home</a>
              <a href="">|</a>
              <a href="ContactUs.html"> Contact Us</a>
              <a href="">|</a>
              <a href="SignUp.html" target="_blank">Sign Up</a>
              <a href="">|</a>
              <a href="LogIn.html" target="_blank">Log In</a>
            </li>
          </ul>
        </nav<section id="contact">
  <div class="contact-box">
    <div class="contact-links">
      <h2>Let's Chat</h2>
      <p>Whether you have a question, want to start a project or            simply want to connect.</p>
        <br>
        <p>Feel free to send me a message in the contact form</p>
    </div>
    
    <div class="contact-form-wrapper">
      <form action="/ContactUs" method="post">
        <div class="form-item">
          <input type="text" name="name" required>
          <label>Name:</label>
        </div>
        <div class="form-item">
          <input type="text" name="email" required>
          <label>Email:</label>
        </div>
        <div class="form-item">
          <textarea class="" name="message" required></textarea>
          <label>Message:</label>
        </div>
        <button class="submit-btn">Send</button>
      </form>
    </div>
  </div>
</section>
    </header>
  </body>
</html>