<header>
    <h1>DM <span>Weather</span></h1>
      <nav>
        <ul>
          <li>
            <a href="#">Home</a>
            <a href="">|</a>
            <a href="About_web.html" target="_blank"> Abous Us</a>
            <a href="">|</a>
            <a href="Members.html" target="_blank"> Contact Us</a>
            <a href="">|</a>
            <a href="About_api.html" target="_blank">About API</a>
            <a href="">|</a>
            <a href="login" target="_blank">Login</a>
            <a href="">|</a>
            <a href="register" target="_blank">Register</a>
          </li>
        </ul>
      </nav>
  </header>